<div class="container container-fluid">
  <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
            제휴제안<small>Partner</small>
            </h1>
            <img src="assets/khu.jpg" style="width:200px;">
            현재 경희대학교를 대상으로 서비스를 하고 있으며, 추후 확대할 예정입니다.<br><br>
          <div class="col-sm-12 col-md-6">

        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
            <strong>김도훈</strong><br>
            <small>dhooonk@naver.com</small><br></h3>
  </div>
  <div class="panel-body">
    경희대학교 응용화학과 / 전자공학과 재학중<br>
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    <a href="https://www.facebook.com/doehoon.kim" style="color: #a9afb3;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    <a href="https://www.instagram.com/kimdoehoon/" style="color: #a9afb3;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    <br>
  </div>
</div>
</div>
<div class="col-sm-12 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>서원석</strong><br>
      <small>younha1000@daum.net</small><br></h3>
  </div>
  <div class="panel-body">
    경희대학교 컴퓨터공학과 재학중<br>
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    <a href="https://www.facebook.com/dydrlaks?fref=ts" style="color: #a9afb3;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    <a href="https://www.instagram.com/dydrlaks/" style="color: #a9afb3;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  </div>
</div>
</div>
        </div>
      </div>
    </div>
