@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files

 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .h2 {
    text-align: center;
  }
 #notice{
   color:white;
 }
 #ylml_logo{
   width:150px;
 }
  @media screen and (min-width: 1680px) {

    #locker {
     font-size:46px;
    }

    .slp {
      font-size: 28px;
    }
    #ylml {
      font-size: 46px;
    }

    #ylml_sub {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 445px) and (max-width: 1679px) {
   .two_circle {
     padding: 50px 0;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
   }


   .circle1 {
     text-decoration: none;
     font-size:25px;
     font-weight: bold;
     color:black;
     display: flex;
     align-items: center;
     justify-content: center;
     width:200px;
     height:200px;
     border-radius:100px;
     -moz-border-radius : 100px;
     -webkit-border-radius : 100px;
     -ms-border-radius :100px;
     -khtml-border-radius : 100px;
     -o-border-radius :100px;
     border: 4px solid black;
   }

   .slp {
     font-size: 20px;
   }

   #why {
     font-size: 25px;
   }

   #why_sub {
     font-size: 20px;
   }

   .title {
     font-size: 15px;
   }

   #locker {
     font-size:36px;
   }

   #service {
     font-size: 36px;
   }

   .logo {
     width: 338px;
   }

   #ylml {
     font-size: 36px;
   }

   #ylml_sub {
     font-size: 18px;
   }

}


  @media screen and (max-width:444px) {
    .two_circle {
      padding: 25px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }


    .circle1 {
      text-decoration: none;
      font-size:15px;
      color:black;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      width:135px;
      height:135px;
      border-radius:67.5px;
      -moz-border-radius : 67.5px;
      -webkit-border-radius : 67.5px;
      -ms-border-radius :67.5px;
      -khtml-border-radius : 67.5px;
      -o-border-radius :67.5px;
      border: 1.2px solid black;
    }

    .slp {
      font-size: 15px;
    }

    #why {
      font-size: 16px;
    }

    #why_sub {
      font-size: 15px;
    }

    .title {
      font-size: 13px;
    }


     #locker {
       font-size:16px;
     }

     #service {
       font-size: 25px;
     }

     .logo {
       width: 200px;
     }

     #ylml {
       font-size: 26px;
     }

     #ylml_sub {
       font-size: 13px;
     }

     #boxbox {
       height: 135px;
     }

  }


   #btnIndrop {
     width: 165px;
   }

   #empty_form {
     width:180px;
   }

   #selected {
     background-color: gray;
   }

   div.container > div.table-responsive > h2 {
     text-align: center;
   }

   form#box > input.btn.btn-default {
     width:100%;

   }

    .wall {
      height:50px;
    }

    #img_session {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:174px;
      height:200px;
    }
    #usemethod {
      text-align:center;
    }
     .new_html  {
      text-align: center;
    }


    table, th, td, tr {
      text-align: center;
    }


    .admin_index {
      text-align: center;
    }


    * {
      /*font-family: 'Nanum Gothic';*/
     font-family: 'Noto Sans KR', sans-serif;
     font-weight: 300;
     line-height: 1.5em;
   }

   .btn-file {
       position: relative;
       overflow: hidden;
   }

   .btn-file input[type=file] {
       position: absolute;
       top: 0;
       right: 0;
       min-width: 100%;
       min-height: 100%;
       font-size: 100px;
       text-align: right;
       filter: alpha(opacity=0);
       opacity: 0;
       outline: none;
       background: white;
       cursor: inherit;
       display: block;
   }
   .logo{
   }
   @media(max-width:768px){.icon{width:cover;}}
   @media(max-width:368px){.icon{width:100%;}}
   .intro-section {
       min-height: 100%;

       text-align: center;

   }
   .parallax1 {
       /* The image used */
       background-image: url("boxes_fill_b.jpg");

       /* Set a specific height */
       min-height: cover;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   .about-section {
       min-height: 60%;
       display: flex;

       align-items: center;
       text-align: left;
       color:#f3f3f3;
       /*
      text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
   -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
   -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
   line-height:2em;
   */
   }

   @media(max-width:768px){.about-section{padding:48px 26px;height: auto;}}
   @media(max-width:425px){.about-section{padding:48px 26px;height: auto;}}

   .services-section {
       min-height: 100%;
       padding-top: 100px;
      padding-left: 50px;
      padding-bottom: 100px;
       text-align: right;
       background: #eee;
   }
   @media(max-width:768px){.services-section{padding:48px 26px;height: auto;}}
   @media(max-width:425px){.services-section{padding:48px 26px;height: auto;}}

   .color1-section {
       min-height: 30px;
       padding-top: 20px;
       text-align: center;
       background: #34464b;
   }
   .parallax2 {
       /* The image used */
       background-image: url("khu_lib_fill.jpg");

       /* Set a specific height */
       min-height: cover;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   .contact-section {
       min-height: 80%;
       padding: 150px 26px 0px 26px;
       text-align: right;
       bottom:0;
       color:#eeeeee;
   }
   @media(max-width:768px){.contact-section{padding:48px 26px 0px 26px;height: auto;}}
   @media(max-width:425px){.contact-section{padding:48px 26px 0px 26px;height: auto;}}

   .icon{
   }
   @media(max-width:768px){.icon{width:cover;}}
   @media(max-width:502px){.icon{width:100%;}}

   .footer-section {
       height: auto;
       padding-top: 30px;
       padding-bottom: 30px;
       text-align: left;
       color:#a9afb3;
       background: #292a2b;
   }
   @media(max-width:768px){.footer-section{padding:48px 26px;height: auto;}}
   @media(max-width:425px){.footer-section{padding:48px 26px;height: auto;}}

   body {
     margin-bottom:auto;
     min-height: 100%;
       width: 100%;
       height: 100%;
      background-color: #FFF
   }

   html {
       width: 100%;
       height: 100%;
   }
   .contents{
     min-height: 80%;
   }
   #footer_id {
     width:200px;
   }
   #footer {
     position: relative;
     height: auto;
     width: 100%;
     top: 15rem;
     bottom: 0px;
     left: 0px;
     right: 0px;
   }


   center {
    contents-align: center;
   }

   /*
   @media(min-width:767px) {
       .navbar {
           padding: 20px 0;
           -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
           transition: background .5s ease-in-out,padding .5s ease-in-out;
       }

       .top-nav-collapse {
           padding: 0;
       }
   }

   .upperspace{
      margin-top: 5em;
   }
   .lefnavspace{
      margin-left:16em;
   }



   .but {
     width: 40px;
     height: 30px;
   }


   #wrapper {
       padding-left: 0;
   }

   #page-wrapper {
       width: 100%;
       padding: 0;
       background-color: #fff;
   }

   .huge {
       font-size: 20px;
       line-height: normal;
   }

   @media(min-width:768px) {
       #wrapper {
           padding-left: 225px;
       }

       #page-wrapper {
           padding: 10px;
       }
   }

   .top-nav {
       padding: 0 15px;
   }

   .top-nav>li {
       display: inline-block;
       float: left;
   }

   .top-nav>li>a {
       padding-top: 15px;
       padding-bottom: 15px;
       line-height: 20px;
       color: #999;
   }

   .top-nav>li>a:hover,
   .top-nav>li>a:focus,
   .top-nav>.open>a,
   .top-nav>.open>a:hover,
   .top-nav>.open>a:focus {
       color: #eee;
       background-color: #000;
   }

   .top-nav>.open>.dropdown-menu {
       float: left;
       position: absolute;
       margin-top: 0;
       border: 1px solid rgba(0,0,0,.15);
       border-top-left-radius: 0;
       border-top-right-radius: 0;
       background-color: #fff;
       -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
       box-shadow: 0 6px 12px rgba(0,0,0,.175);
   }

   .top-nav>.open>.dropdown-menu>li>a {
       white-space: normal;
   }

   ul.message-dropdown {
       padding: 0;
       max-height: 250px;
       overflow-x: hidden;
       overflow-y: auto;
   }

   li.message-preview {
       width: 275px;
       border-bottom: 1px solid rgba(0,0,0,.15);
   }

   li.message-preview>a {
       padding-top: 15px;
       padding-bottom: 15px;
   }

   li.message-footer {
       margin: 5px 0;
   }

   ul.alert-dropdown {
       width: 200px;
   }

   @media(min-width:768px) {
       .side-nav {
           position: fixed;
           top: 90px;
           left: 225px;
           width: 225px;
           margin-left: -225px;
           border: none;
           border-radius: 0;
           overflow-y: auto;
           background-color: #222;
           bottom: 0;
           overflow-x: hidden;
           padding-bottom: 40px;
       }

       .side-nav>li>a {
           width: 225px;
       }

       .side-nav li a:hover,
       .side-nav li a:focus {
           outline: none;
           background-color: #000 !important;
       }
   }

   .side-nav>li>ul {
       padding: 0;
   }

   .side-nav>li>ul>li>a {
       display: block;
       padding: 10px 15px 10px 38px;
       text-decoration: none;
       color: #999;
   }

   .side-nav>li>ul>li>a:hover {
       color: #fff;
   }
   */
